table.opening-hours {
    width: 600px;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #34495e;
    color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    position: absolute;
    left: 50%;
    transform:translateX(-50%) ;
}

table.opening-hours thead {
    background-color: #333334;
    color: #fff;
}

table.opening-hours th, 
table.opening-hours td {
    padding: 10px 20px;
    text-align: left;
    border: 1px solid #ddd;
    border: #fff solid 2px;
}

table.opening-hours th {
    font-size: 1.2em;
}

table.opening-hours tbody tr:nth-child(even) {
    background-color: #6DC2D9;
    color: #fff;
}
